

* { padding: 0; margin: 0; }
        #heading {
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
            font-size: xx-large;
        }
        #heading{ margin: 0 auto}
        #canvas { background: fuchsia; display: block; margin: 0 auto; }
        #c { background: white; display: block; margin: 0 auto; }
   
  
        
        .modal-content {
            position: relative;
            background-color: black;
            margin: auto;
            padding: 0;
            border: 1px solid grey;
            width: 30%;
            -webkit-animation-name: animatetop;
            -webkit-animation-duration: 0.4s;
            animation-name: animatetop;
            animation-duration: 0.4s
        }

        @-webkit-keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }

        @keyframes animatetop {
            from {top:-300px; opacity:0}
            to {top:0; opacity:1}
        }

      
        .close {
            color: white;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
            background-color: lightpink;
            color: purple;
            text-align: center;
            height : 50%;
        }

        .modal-body {padding: 2px 16px;}

        .modal-footer {
            padding: 2px 16px;
            background-color:coral;
            color: white;
            text-align: center;
            height: 50%;
        }
